*.csproj

Library/*

Temp/*

Assembly*
*.sln

*.userprefs

Assembly-UnityScript-vs.unityproj

Assembly-UnityScript.unityproj

Assets/Scene/chuliuxiangvshuairen.unity

ChuLiuXiangVsBadman-csharp.sln

ChuLiuXiangVsBadman.sln
