*.csproj

Library/*

Temp/*

Assembly*
*.sln

*.userprefs

Assembly-UnityScript-vs.unityproj

Assembly-UnityScript.unityproj


ChuLiuXiangVsBadman-csharp.sln

ChuLiuXiangVsBadman.sln

ChuLiuXiangVsBadman.userprefs
